@import 'colors';

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  font-size: 22px;

  a {
    color: $dark-primary-color;
    text-decoration: none;
    padding: 6px 14px;

    &.active {
      border: 1px solid $dark-primary-color;
    }
  }
}
